In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Printing the Series
print(my_series)

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd

# Creating a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Creating a Pandas Series from the list
my_series = pd.Series(my_list)

# Printing the Series
print(my_series)

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [ ]:
import pandas as pd

# Creating a list of dictionaries
data = [
    {"Name": "Alice", "Age": 25, "Gender": "female"},
    {"Name": "Bob", "Age": 30, "Gender": "male"},
    {"Name": "Claire", "Age": 27, "Gender": "female"}
]

# Creating a Pandas DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
In Pandas, a DataFrame is a two-dimensional, tabular data structure that is widely used for data manipulation and analysis. It can be thought of as a container for Series objects where each column of the DataFrame is a Series. A DataFrame allows you to store and manipulate heterogeneous types of data, making it a powerful tool for handling structured data.

On the other hand, a Pandas Series is a one-dimensional labeled array. It can hold any data type and is similar to a column in a DataFrame. A DataFrame is essentially a collection of Series objects, where each Series represents a column in the DataFrame.

In [ ]:
import pandas as pd

# Creating a Pandas Series
series_data = pd.Series([1, 2, 3, 4], name='Numbers')

# Creating a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['female', 'male', 'female']}
df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Pandas Series:")
print(series_data)
print("\n")

print("Pandas DataFrame:")
print(df)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:

Pandas provides a rich set of functions for manipulating data in a DataFrame. Some common functions include:

In [ ]:
head() and tail():
    # Example using head()
df.head()

In [ ]:
info():
    # Example using info()
df.info()

In [ ]:
describe(): 
    # Example using describe()
df.describe()

In [ ]:
shape:
    # Example using shape
df.shape

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:

In Pandas, the Series and DataFrame are mutable, while the Panel is considered deprecated and has been removed in more recent versions of Pandas.

Series: A Pandas Series is mutable, meaning you can modify its values after creation.

In [ ]:
Series:
    import pandas as pd

# Creating a mutable Series
my_series = pd.Series([1, 2, 3])
my_series[1] = 10
print(my_series)

In [ ]:
DataFrame:
    import pandas as pd

# Creating a mutable DataFrame
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

# Modifying a value in the DataFrame
df.at[1, 'Age'] = 35

print(df)

In [ ]:
Panel:
    import pandas as pd

# Creating a multi-index DataFrame
data = {'Value': [1, 2, 3, 4], 'Variable': ['A', 'B', 'A', 'B']}
index = pd.MultiIndex.from_tuples([('X', 1), ('X', 2), ('Y', 1), ('Y', 2)], names=['Index', 'Time'])
df = pd.DataFrame(data, index=index)

print(df)

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
ages = pd.Series([25, 30, 27], name='Age')
genders = pd.Series(['female', 'male', 'female'], name='Gender')

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

In [ ]:
In this example:

We create three separate Series (names, ages, and genders) representing different columns of our DataFrame.
Each Series has a name assigned using the name parameter.
We then create a dictionary data where the keys are the column names ('Name', 'Age', 'Gender') and the values are the corresponding Series.
Finally, we use the pd.DataFrame() constructor to create a DataFrame (df) from the dictionary.
The resulting DataFrame has columns named 'Name', 'Age', and 'Gender', with data from the respective Series. This is a simple and common way to construct a DataFrame from multiple Series.