In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Database:
A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and updating of information. Databases are used in various applications and industries to store, organize, and manipulate data, providing a systematic way to manage large volumes of information.

In [ ]:
SQL (Structured Query Language) Databases:
SQL databases are relational databases that use a structured query language (SQL) for defining and manipulating the data. They are based on the relational model, where data is organized into tables with predefined relationships between them. Common SQL databases include MySQL, PostgreSQL, SQLite, Microsoft SQL Server, and Oracle Database.

Key Characteristics:

Structured Schema: Data is organized into tables with predefined schemas, specifying the fields and data types.
ACID Properties: SQL databases adhere to ACID properties (Atomicity, Consistency, Isolation, Durability) to ensure the reliability of transactions.
Vertical Scaling: Scaling is achieved by increasing the power of the existing hardware.
Use Cases:

Applications requiring complex queries and transactions.
Data with a well-defined structure and relationships.

In [ ]:
NoSQL Databases:
NoSQL databases, or "not only SQL" databases, are designed to handle unstructured, semi-structured, or structured data. They provide a flexible schema, allowing the storage of different types of data in the same database. NoSQL databases are often used in scenarios where the data model may evolve rapidly or where scalability and performance are critical. Common types of NoSQL databases include document-oriented, key-value, column-family, and graph databases.

Key Characteristics:

Schema-less: NoSQL databases are schema-less or have a dynamic schema, allowing for flexibility in storing different types of data.
CAP Theorem: NoSQL databases often adhere to the CAP theorem (Consistency, Availability, Partition Tolerance), focusing on scalability and availability.
Horizontal Scaling: Scaling is achieved by adding more servers to the database cluster.
Use Cases:

Large-scale distributed systems.
Applications with rapidly evolving data models.
Real-time data processing

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:

DDL (Data Definition Language):
Data Definition Language (DDL) is a subset of SQL (Structured Query Language) used for defining and managing the structure of a relational database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, and views. The primary DDL commands include CREATE, ALTER, DROP, and TRUNCATE.

In [ ]:
CREATE:

The CREATE statement is used to create new database objects, such as tables, indexes, or views.

In [ ]:
DROP:

The DROP statement is used to delete existing database objects, such as tables or indexes.

In [ ]:
ALTER:

The ALTER statement is used to modify the structure of existing database objects, such as adding or removing columns or changing data types.

In [ ]:
TRUNCATE:

The TRUNCATE statement is used to remove all rows from a table, effectively resetting the table to an empty state.

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML (Data Manipulation Language):
Data Manipulation Language (DML) is a subset of SQL (Structured Query Language) used for manipulating data stored in a relational database. DML statements are responsible for performing operations on the data itself, such as inserting new records, updating existing records, and deleting records. The primary DML commands include INSERT, UPDATE, and DELETE.

In [ ]:
INSERT:

The INSERT statement is used to add new records (rows) to a table.

INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'John', 'Doe', 'IT');

In [ ]:
UPDATE:

The UPDATE statement is used to modify existing records in a table.

UPDATE Employees
SET Department = 'Finance'
WHERE EmployeeID = 1;

In [ ]:
DELETE:

The DELETE statement is used to remove records from a table.

DELETE FROM Employees
WHERE EmployeeID = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL (Data Query Language):
Data Query Language (DQL) is a subset of SQL (Structured Query Language) used for querying and retrieving data from a relational database. The primary DQL command is SELECT. DQL allows users to specify the data they want to retrieve and filter the results based on specific conditions.

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
A primary key is a column or set of columns in a relational database table that uniquely identifies each record in the table. It serves as a unique identifier for each row and enforces the entity integrity of the table. The primary key must satisfy the following conditions:

In [ ]:
Foreign Key:
A foreign key is a column or set of columns in a relational database table that refers to the primary key of another table. It establishes a link between the two tables, creating a relationship that enforces referential integrity. The foreign key column(s) in one table must match the primary key column(s) in another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

# Connection parameters
host = "your_mysql_host"
user = "your_mysql_user"
password = "your_mysql_password"
database = "your_mysql_database"

# Establishing a connection to MySQL
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Creating a cursor object to interact with the database
cursor = connection.cursor()

# SQL query to create a sample table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
)
"""

# Executing the CREATE TABLE query
cursor.execute(create_table_query)

# SQL query to insert data into the table
insert_data_query = """
INSERT INTO employees (name, department) VALUES (%s, %s)
"""

# Sample data
employee_data = [("John Doe", "IT"), ("Jane Smith", "HR")]

# Executing the INSERT query with multiple data
cursor.executemany(insert_data_query, employee_data)

# Committing the changes to the database
connection.commit()

# SQL query to retrieve data from the table
select_data_query = """
SELECT * FROM employees
"""

# Executing the SELECT query
cursor.execute(select_data_query)

# Fetching and printing the result
result = cursor.fetchall()
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM Clause:

The FROM clause specifies the table or tables from which the data will be retrieved.
WHERE Clause:

The WHERE clause is used to filter rows based on specified conditions. It reduces the number of rows retrieved from the tables.
GROUP BY Clause:

The GROUP BY clause is used to group rows that have the same values in specified columns into summary rows. This is often used with aggregate functions.
HAVING Clause:

The HAVING clause is used to filter the results of the GROUP BY clause based on specified conditions.
SELECT Clause:

The SELECT clause specifies the columns to be retrieved from the tables. It comes after the FROM, WHERE, GROUP BY, and HAVING clauses.
ORDER BY Clause:

The ORDER BY clause is used to sort the result set based on specified columns and their sort order (ascending or descending). It is applied after the previous clauses.
LIMIT/OFFSET Clause:

The LIMIT and OFFSET clauses are used to restrict the number of rows returned by the query and skip a specified number of rows. They are typically applied last.